
# Besturingssysteem: Logbestanden en Systeem-Specifieke zaken
credentials.json
.DS_Store
.env
env/
kiku.db
kluis/kikukey.json
logs/
.mypy_cache/
*.pkl
*.pyc
__pycache__/
*.pyo
.pytest_cache/
# Python: Caches en Virtual Environment
temp_vision/
Thumbs.db
token.json
.venv/
venv/
kiku-credentials.json
credentials.json
