# Python: Caches en Virtual Environment
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# Besturingssysteem: Logbestanden en Systeem-Specifieke zaken
logs/
.DS_Store
Thumbs.db
kluis/kikukey.json
__pycache__/
*.pyc
kiku.db
